<div class="container-fluid">
  <div class="row">

    <div class="col-12">
      <div class="card" >
        <div class="card-header">New blog post</div>
          <div class="card-body">
            <%= render partial: "form" %>
          </div>
        </div>
      </div>

    </div>
  </div>
